@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #fff8dc;
}
.header-container {
  display: flex;
  align-items: center;
  background-color: beige;
  height: 100px;
  margin-right: 0%;
  margin-left: 0%;
}
.cake-container{
  float: left;
}
.balloon-container{
  float: right;
}
.cake-img{
  width: 100px;
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 8px;
}
.balloon-img{
  width: 100px;
  height: 100%;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 8px;
}


.header-text-container{
  display: inline-block;
  font-family: "Gluten", cursive;
  color: brown;
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;
  margin-right: auto;
  margin-left: auto;
}
hr {
  border: solid 2px brown;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
}